{% extends 'base.html' %}

{% block title %}Edit Blog{% endblock %}

{% block content %}

    <div class="container content">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <a href="{{ url_for('blogs_app.get_blog', blog_id=blog.id) }}" class="btn btn-danger mt-4 mb-3">
                    <i class="fa-solid fa-angle-left"></i>
                    Go back
                </a>
                <h1 class="text-center text-white">Edit Blog</h1>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <form method="post">
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        {{ form.title.label(class='form-label text-white') }}
                        {{ form.title(id='title', value=blog.title, class='form-control') }}
                    </div>
                    {{ form.text.label(class='form-label text-white') }}
                    <div class="mb-3">
                        {{ form.text() }}
                    </div>
                    <label for="tags" class="text-white">Choose a tag</label>
                    <div class="mb-3">
                        <select id="tags" name="tags" multiple>
                            {% for tag in tags %}
                                <option value="{{ tag.id }}" {% if tag in blog.tags %}selected{% endif %}>{{ tag.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="col-3"></div>
        </div>
    </div>

{% endblock %}