{% extends 'base.html' %}

{% block title %}{{ blog.title }}{% endblock %}

{% block content %}

    <div class="container content">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                {% if 'user' in request.referrer %}
                    <a href="{{ url_for('accounts_app.get_user_profile', user_id=user.id) }}" class="btn btn-danger mt-4 mb-3">
                        <i class="fa-solid fa-angle-left"></i>
                        Go back
                    </a>
                {% else %}
                    <a href="{{ url_for('main_app.home') }}" class="btn btn-danger mt-4 mb-3">
                        <i class="fa-solid fa-angle-left"></i>
                        Go back
                    </a>
                {% endif %}
                <div class="py-2">
                    {% include 'includes/messages.html' %}
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-6">
                                    <a href="{{ url_for('accounts_app.get_user_profile', user_id=blog.user_id) }}" class="mb-0 h5">
                                        @{{ blog.user.username }}
                                    </a>
                                </div>
                                <div class="col-6">
                                    <p class="date mb-0">
                                        <i class="fa-solid fa-calendar-days"></i>
                                        {{ blog.created_at.strftime('%H:%S') }} •
                                        {{ blog.created_at.strftime('%d %b %Y') }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            {% if blog.tags %}
                                {% for tag in blog.tags %}
                                    <span class="badge" style="background-color: #{{ tag.color }};">{{ tag }}</span>
                                {% endfor %}
                            {% endif %}
                            {% if user.id == blog.user_id %}
                                <a href="{{ url_for('blogs_app.edit_blog', blog_id=blog.id) }}" class="btn btn-primary float-end">
                                    <i class="fa-solid fa-pen-to-square"></i>  Edit blog
                                </a>
                            {% endif %}
                            <h3 class="card-title pt-2">{{ blog.title }}</h3>
                            <p class="card-text">
                                {{ blog.text|safe }}
                            </p>
                            <hr>
                        </div>
                        <div>
                            <form method="post" action="{{ url_for('blogs_app.get_blog', blog_id=blog.id) }}" class="row g-3">
                                {{ form.hidden_tag() }}
                                <div class="col-8" style="padding-left: 25px;">
                                    <label for="inputComment" class="visually-hidden">Comment</label>
                                    <input type="text" class="form-control" id="inputComment" placeholder="Comment"
                                           name="text">
                                    {% if form.text.errors %}
                                        <ul class="errors py-2">
                                            {% for error in form.text.errors %}
                                                <li class="text-danger">{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary mb-3">Add</button>
                                </div>
                            </form>
                            {% for comment in comments %}
                                <div class="px-3">
                                    <p class="h6">@{{ comment.user.username }}<small><span
                                            class="text-secondary">  •  {{ comment.created_at.strftime('%H:%S %d %b %Y') }}</span></small></p>
                                    <p>{{ comment.text }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>

{% endblock %}