{% extends 'base.html' %}

{% block title %}Сбросить пароль{% endblock title %}

{% block content %}
    <div class="container my-5">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <h1>Сброс пароля</h1>
                <h6>
                    Введите новый пароль
                </h6>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Reset Password"/>
                </form>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
{% endblock content %}