{% extends 'base.html' %}

{% block title %}Пароль сброшен{% endblock title %}

{% block content %}
    <div class="container my-5">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <h1>Пароль успешно изменён</h1>
                <p>Теперь Вы можете войти с новым паролем</p>
                <a href="{% url 'accounts:login' %}" class="btn btn-primary">Войти</a>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
{% endblock %}