{% extends 'base.html' %}

{% block title %}Заявки на запись{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center">Заявки на запись на курс</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">Пользователь</th>
                <th scope="col">Группа</th>
                <th scope="col">Добавить в группу</th>
            </tr>
            </thead>
            <tbody>
            {% for registration_request in object_list %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ registration_request.email }}</td>
                    {% if registration_request.user %}
                        <td>{{ registration_request.user }}</td>
                    {% else %}
                        <td>Аноним</td>
                    {% endif %}
                    <td>
                        <a href="{% url 'onlineschool:course_detail' course_slug=registration_request.course.course %}">
                            {{ registration_request.course.course.name }}
                        </a>
                    </td>
                    <td>
                        <form action="" method="post">
                            {# TODO: ADD FUNCTIONALITY #}
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
