{#{% if request.user.is_authenticated %}#}
{#                        {% for group in object.schedule_set.all %}#}
{#                            {% if forloop.first %}#}
{#                                {% if not group.is_announced_later %}#}
{#                                    <p class="card-text">#}
{#                                        <i class="fa-solid fa-calendar-days"></i> с {{ group.start_date }}#}
{#                                    </p>#}
{#                                    {% for registration_request in group.registrationrequest_set.all %}#}
{#                                        {% if registration_request.user == request.user %}#}
{#                                            <a href="#"#}
{#                                               class="btn btn-primary disabled">Вы уже записались</a>#}
{#                                        {% endif %}#}
{#                                    {% empty %}#}
{#                                        <a href="{% url 'onlineschool:register_registration_request' schedule_slug=group.slug %}"#}
{#                                           class="btn btn-primary">Записаться</a>#}
{#                                    {% endfor %}#}
{#                                {% else %}#}
{#                                    <p class="card-text">#}
{#                                        <i class="fa-solid fa-calendar-days"></i> о дате старта будет объявлено позже#}
{#                                    </p>#}
{#                                    {% for course_request in object.courserequest_set.all %}#}
{#                                        {% if course_request.user == request.user %}#}
{#                                            <a href="#"#}
{#                                               class="btn btn-primary disabled">Мы вам сообщим о старте курса</a>#}
{#                                        {% endif %}#}
{#                                    {% empty %}#}
{#                                        <a href="{% url 'onlineschool:register_course_request' course_slug=object.slug %}"#}
{#                                           class="btn btn-primary">Сообщить о старте набора</a>#}
{#                                    {% endfor %}#}
{#                                {% endif %}#}
{#                            {% endif %}#}
{#                        {% empty %}#}
{#                            <p class="card-text">#}
{#                                <i class="fa-solid fa-calendar-days"></i> о дате старта будет объявлено позже#}
{#                            </p>#}
{#                            {% for course_request in object.courserequest_set.all %}#}
{#                                {% if course_request.user == request.user %}#}
{#                                    <a href="#"#}
{#                                       class="btn btn-primary disabled">Мы вам сообщим о старте курса</a>#}
{#                                {% endif %}#}
{#                                {% empty %}#}
{#                                <a href="{% url 'onlineschool:register_course_request' course_slug=object.slug %}"#}
{#                                   class="btn btn-primary">Сообщить о старте набора</a>#}
{#                            {% endfor %}#}
{#                        {% endfor %}#}
{#{% else %}#}
{#    {% for group in object.schedule_set.all %}#}
{#        {% if forloop.first %}#}
{#            {% if not group.is_announced_later %}#}
{#                <p class="card-text">#}
{#                    <i class="fa-solid fa-calendar-days"></i> с {{ group.start_date }}#}
{#                </p>#}
{#                <form method="post" class="row g-2"#}
{#                      action="{% url 'onlineschool:register_registration_request' schedule_slug=group.slug %}">#}
{#                    {% csrf_token %}#}
{#                    <div class="col-auto">#}
{#                        <input type="email" name="email" class="form-control" placeholder="Ваша почта">#}
{#                    </div>#}
{#                    <div class="col-auto">#}
{#                        <input type="submit" class="btn btn-primary" value="Записаться">#}
{#                    </div>#}
{#                </form>#}
{#            {% else %}#}
{#                <p class="card-text">#}
{#                    <i class="fa-solid fa-calendar-days"></i> о дате старта будет объявлено позже#}
{#                </p>#}
{#                <form method="post" class="row g-2"#}
{#                      action="{% url 'onlineschool:register_course_request' course_slug=object.slug %}">#}
{#                    {% csrf_token %}#}
{#                    <div class="col-auto">#}
{#                        <input type="email" name="email" class="form-control" placeholder="Ваша почта">#}
{#                    </div>#}
{#                    <div class="col-auto">#}
{#                        <input type="submit" class="btn btn-primary" value="Сообщить о старте набора">#}
{#                    </div>#}
{#                </form>#}
{#            {% endif %}#}
{#        {% endif %}#}
{#        {% empty %}#}
{#        <p class="card-text">#}
{#            <i class="fa-solid fa-calendar-days"></i> о дате старта будет объявлено позже#}
{#        </p>#}
{#        <form method="post" class="row g-2"#}
{#              action="{% url 'onlineschool:register_course_request' course_slug=object.slug %}">#}
{#            {% csrf_token %}#}
{#            <div class="col-auto">#}
{#                <input type="email" name="email" class="form-control" placeholder="Ваша почта">#}
{#            </div>#}
{#            <div class="col-auto">#}
{#                <input type="submit" class="btn btn-primary" value="Сообщить о старте набора">#}
{#            </div>#}
{#        </form>#}
{#    {% endfor %}#}
{#{% endif %}#}