html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    flex-shrink: 0;
}

.objects {
    overflow: auto;
    margin: 0;
    height: 100%;
    width: 100%;
}