html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    flex-shrink: 0;
}

.button-margin {
    margin-right: 10px;
}

.objects {
    overflow: auto;
    margin: 0;
    height: 100%;
    width: 100%;
}

.nav-link {
    margin-right: 10px;
}

.calendar {
	width: 100%;
	margin: auto;
	font-size: 13px;
  }

.calendar tr, .calendar td {
	border: 1px solid black;
}

.calendar .existing-days {
	background-color: #ebebeb;
}

.calendar th {
	padding: 10px;
	text-align: center;
	font-size: 18px;
}

.calendar td {
	width: 200px;
	height: 150px;
	padding: 20px 0px 0px 5px;
}

.calendar ul {
	height: 100%;
	padding: 0px 5px 0px 20px;
  }

.calendar a {
	color: #141414;
}

.calendar a:hover {
	color: #427edc;
}

.month {
	font-size: 25px;
}

.date {
	font-size: 16px;
}

.left {
    float: left;
	margin-right: 15px;
}

.right {
    float: right;
}

.clearfix {
  	margin: 15px;
}

.today {
	background-color: #8effdd;
}

.marked {
	background-color: #ffe0c269;
}

.marked-event {
	background-color: #ffa04169;
}
