{% load static %}

<!doctype html>
<html lang="ru">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Icons -->
    <script src="https://kit.fontawesome.com/148fa55e15.js" crossorigin="anonymous"></script>

    <!-- Custom -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <title>
        {% block title %}Online School{% endblock %}
    </title>
</head>

<body>

<div class="objects">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">Online School</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'onlineschool:courses' %}">
                            Курсы
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'onlineschool:schedule_calendar' %}">
                            Календарь
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'contact' %}">
                            Контакты
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                        {% if request.user.user_type == '1' %}
                            <li class="nav-item dropdown align-self-center">
                                <a class="btn btn-sm btn-secondary dropdown-toggle button-margin" href="#"
                                   role="button" id="dropdown_1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-chalkboard-user"></i>  Для преподов
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdown_1">
                                    <li>
                                        <a class="dropdown-item" href="{% url 'onlineschool:create_course' %}">
                                            Добавить курс
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'onlineschool:create_category' %}">
                                            Добавить категорию
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'onlineschool:create_group' %}">
                                            Создать курс с группой
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'onlineschool:schedule' %}">
                                            Расписание
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'onlineschool:registration_requests' %}">
                                            Заявки на запись
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                        <li class="nav-item dropdown align-self-center">
                            <a class="btn btn-sm btn-secondary dropdown-toggle" href="#" role="button" id="dropdown_2"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-user"></i>  {{ user.email }}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown_2">
                                {% if user.user_type == '2' %}
                                    <li>
                                        <a class="dropdown-item" href="{% url 'onlineschool:student_courses' %}">
                                            Мои курсы
                                        </a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a class="dropdown-item" href="{% url 'api_token' %}">
                                        API
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'accounts:logout' %}">
                                        Выйти
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <a href="{% url 'accounts:login' %}" class="btn btn-primary button-margin">
                            <i class="fa-solid fa-right-to-bracket"></i>  Войти
                        </a>
                        <a href="{% url 'accounts:signup' %}" class="btn btn-success">
                            <i class="fa-solid fa-user-plus"></i>  Зарегистрироваться
                        </a>
                    {% endif %}
                </ul>
                <form method="get" action="{% url 'onlineschool:search' %}" class="d-flex">
                    <input name="keyword" class="form-control form-control-sm me-2" type="search" placeholder="Искать..."
                           aria-label="Search">
                    <button class="btn btn-sm btn-outline-success" type="submit">Поиск</button>
                </form>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

</div>


<section>
    <footer class="text-center">
        <div class="text-center p-3">
            © {% now 'Y' %} Online School
        </div>
    </footer>
    <!-- Footer -->
</section>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="{% static 'js/onmouseover.js' %}"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
-->
</body>

</html>