<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">

    <!-- Icons -->
    <script src="https://kit.fontawesome.com/148fa55e15.js" crossorigin="anonymous"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="static/css/style.css">

    <title>Hello, world!</title>
</head>
<body>

<canvas id="canvas"></canvas>

<div class="objects">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="home.html">My Blog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active px-2" aria-current="page" href="home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-2" aria-current="page" href="about.html">About</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container content">
        <h1 class="text-center pt-5 pb-4 text-white">All blogs</h1>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="py-2">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-6">
                                    <p class="mb-0 h5">@user_1</p>
                                </div>
                                <div class="col-6">
                                    <p class="date mb-0"><i class="fa-solid fa-calendar-days"></i> 26.04.2022</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">My first blog!</h3>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto autem expedita
                                magnam
                                minima
                                sint. Accusamus, blanditiis consectetur cum cupiditate doloribus ducimus id maxime
                                molestias
                                mollitia repellat sequi suscipit voluptatem voluptatum!
                            </p>
                            <a href="detail.html" class="btn btn-success">Details</a>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-6">
                                    <p class="mb-0 h5">@user_2</p>
                                </div>
                                <div class="col-6">
                                    <p class="date mb-0"><i class="fa-solid fa-calendar-days"></i> 25.04.2022</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">¡Hola! ¿Que tal te va?</h3>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto autem expedita
                                magnam
                                minima
                                sint. Accusamus, blanditiis consectetur cum cupiditate doloribus ducimus id maxime
                                molestias
                                mollitia repellat sequi suscipit voluptatem voluptatum!
                            </p>
                            <a href="detail.html" class="btn btn-success">Details</a>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-6">
                                    <p class="mb-0 h5">@user_3</p>
                                </div>
                                <div class="col-6">
                                    <p class="date mb-0"><i class="fa-solid fa-calendar-days"></i> 30.03.2022</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Hi there, you're not gonna believe what I just did ...</h3>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto autem expedita
                                magnam
                                minima
                                sint. Accusamus, blanditiis consectetur cum cupiditate doloribus ducimus id maxime
                                molestias
                                mollitia repellat sequi suscipit voluptatem voluptatum!
                            </p>
                            <a href="detail.html" class="btn btn-success">Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>

<footer class="bg-dark text-center text-lg-start mt-5">
    <div class="container p-4">
        <div class="text-center">
            <h5 class="text-uppercase">My Blog Project</h5>
            <p>
                Share everything!
            </p>
        </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © <span id="copyright-year">YYYY</span> Copyright
    </div>
</footer>

<!-- Custom JavaScript -->
<script src="static/js/animation.js"></script>
<script src="static/js/copyright_year.js"></script>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
</body>
</html>